# Virtual environments
.venv/
venv/

# Environment files
.env
.env.local

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Packaging & Build 
build/
dist/
*.egg-info/
**/*.egg-info/

# Dev Tools & Testing
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

# IDEs
.vscode/
.idea/

# OS Specific
.DS_Store
Thumbs.db